## Ignore Android studio configuration files
.gradle
.DS_Store
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures

## Files from app directory
/app/build

## Ignore files from project use to generate jar
/TapValidationProject/JavaApplication13/nbproject/private/
/TapValidationProject/nbproject/private/
/TapValidationProject/bin/
/TapValidationProject/.settings/
/TapValidationProject/.project
/TapValidationProject/.classpath
